VEML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.fivesqd.com/schemas/veml/3.0"
    elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:vem="http://www.fivesqd.com/schemas/veml/3.0">

	<annotation>
		<documentation>
			Type for a lite procedural sky. It takes a variety of parameters used
			in generating the procedural sky.

			Attributes:
			- sun-entity-tag:                 Tag of the entity to use for the sun
			- day-night-cycle-enabled:        Whether or not to enable the day/night cycle
			- ground-enabled:                 Whether or not to enable procedural ground
			- ground-color:                   Color for the ground
			- ground-height:                  Height to place ground at
			- ground-fade-amount:             Factor for fade between ground and horizon
			- horizon-sky-blend:              Blending factor between horizon and sky
			- day-horizon-color:              Color for horizon during day
			- day-sky-color:                  Color for sky during day
			- night-horizon-color:            Color for horizon during night
			- night-sky-color:                Color for sky during night
			- horizon-saturation-amount:      Saturation amount for horizon
			- horizon-saturation-falloff:     Saturation falloff for horizon
			- sun-enabled:                    Whether or not to enable procedural sun
			- sun-diameter:                   Diameter of sun
			- sun-horizon-color:              Color of sun at horizon
			- sun-zenith-color:               Color of sun at zenith
			- sun-sky-lighting-enabled:       Whether or not to enable lighting of sky from sun
			- sky-lighting-falloff-amount:    Falloff amount for sky lighting
			- sky-lighting-falloff-intensity: Falloff intensity for sky lighting
			- sunset-intensity:               Intensity of sunset
			- sunset-radial-falloff:          Radial falloff of sunset
			- sunset-horizontal-falloff:      Horizontal falloff of sunset
			- sunset-vertical-falloff:        Vertical falloff of sunset
			- moon-enabled:                   Whether or not to enable procedural moon
			- moon-diameter:                  Diameter of moon
			- moon-color:                     Color of moon
			- moon-falloff-amount:            Falloff amount for moonlight
			- stars-enabled:                  Whether or not to enable stars
			- stars-brightness:               Brightness for stars
			- stars-daytime-brightness:       Daytime brightness for stars
			- stars-horizon-falloff:          Falloff for stars at horizon
			- stars-saturation:               Saturation for stars
			- procedural-stars-enabled:       Whether or not to enable procedural stars
			- procedural-stars-sharpness:     Sharpness for procedural stars
			- procedural-stars-amount:        Amount of procedural stars
			- stars-texture-enabled:          Whether or not to enable star texture (overlaid on
			top of procedural stars)
			- star-texture-uri:               URI to the texture for non-procedural stars
			- star-tint:                      Tint for non-procedural stars
			- star-scale:                     Scale for non-procedural stars
			- star-rotation-speed:            Rotation speed for non-procedural stars
			- clouds-enabled:                 Whether or not to enable procedural clouds
			- clouds-texture-uri:             URI to texture for clouds
			- clouds-scale-x:                 X component of scale for clouds
			- clouds-scale-y:                 Y component of scale for clouds
			- clouds-speed-x:                 X component of speed for clouds
			- clouds-speed-y:                 Y component of speed for clouds
			- cloudiness:                     Cloudiness level
			- clouds-opacity:                 Cloud opacity level
			- clouds-sharpness:               Cloud sharpness level
			- clouds-shading-intensity:       Intensity of cloud shading
			- clouds-zenith-falloff:          Falloff for clouds at zenith
			- clouds-iterations:              Number of iterations for procedural clouds
			- clouds-gain:                    Gain for procedural clouds
			- clouds-lacunarity:              Lacunarity for procedural clouds
			- clouds-day-color:               Color for clouds during day
			- clouds-night-color:             Color for clouds during night
		</documentation>
	</annotation>
	<complexType name="liteproceduralsky">
		<attribute name="sun-entity-tag" type="string" use="optional"></attribute>
		<attribute name="day-night-cycle-enabled" type="boolean" default="true"></attribute>
		<attribute name="ground-enabled" type="boolean" default="true"></attribute>
		<attribute name="ground-color" type="string" default="#07070700"></attribute>
		<attribute name="ground-height" type="float" default="-0.02"></attribute>
		<attribute name="ground-fade-amount" type="float" default="0.02"></attribute>
		<attribute name="horizon-sky-blend" type="float" default="0.579"></attribute>
		<attribute name="day-horizon-color" type="string" default="#448bc5ff"></attribute>
		<attribute name="day-sky-color" type="string" default="#08124100"></attribute>
		<attribute name="night-horizon-color" type="string" default="#07050d00"></attribute>
		<attribute name="night-sky-color" type="string" default="03010300"></attribute>
		<attribute name="horizon-saturation-amount" type="float" default="0.894"></attribute>
		<attribute name="horizon-saturation-falloff" type="float" default="4.45"></attribute>
		<attribute name="sun-enabled" type="boolean" default="true"></attribute>
		<attribute name="sun-diameter" type="float" default="2"></attribute>
		<attribute name="sun-horizon-color" type="string" default="color(155 72 33 0)"></attribute>
		<attribute name="sun-zenith-color" type="string" default="color(158 129 58 0)"></attribute>
		<attribute name="sun-sky-lighting-enabled" type="boolean" default="true"></attribute>
		<attribute name="sky-lighting-falloff-amount" type="float" default="10"></attribute>
		<attribute name="sky-lighting-falloff-intensity" type="float" default="1"></attribute>
		<attribute name="sunset-intensity" type="float" default="0.3"></attribute>
		<attribute name="sunset-radial-falloff" type="float" default="0.1"></attribute>
		<attribute name="sunset-horizontal-falloff" type="float" default="0.6"></attribute>
		<attribute name="sunset-vertical-falloff" type="float" default="0.5"></attribute>
		<attribute name="moon-enabled" type="boolean" default="true"></attribute>
		<attribute name="moon-diameter" type="float" default="2"></attribute>
		<attribute name="moon-color" type="string" default="#abb9bf00"></attribute>
		<attribute name="moon-falloff-amount" type="float" default="60"></attribute>
		<attribute name="stars-enabled" type="boolean" default="true"></attribute>
		<attribute name="stars-brightness" type="float" default="0.85"></attribute>
		<attribute name="stars-daytime-brightness" type="float" default="0.1"></attribute>
		<attribute name="stars-horizon-falloff" type="float" default="0"></attribute>
		<attribute name="stars-saturation" type="float" default="0.3"></attribute>
		<attribute name="procedural-stars-enabled" type="boolean" default="true"></attribute>
		<attribute name="procedural-stars-sharpness" type="float" default="1"></attribute>
		<attribute name="procedural-stars-amount" type="float" default="1"></attribute>
		<attribute name="stars-texture-enabled" type="boolean" default="true"></attribute>
		<attribute name="star-texture-uri" type="string" use="optional"></attribute>
		<attribute name="star-tint" type="string" default="#ffffff00"></attribute>
		<attribute name="star-scale" type="float" default="0.5"></attribute>
		<attribute name="star-rotation-speed" type="float" default="0.25"></attribute>
		<attribute name="clouds-enabled" type="boolean" default="true"></attribute>
		<attribute name="clouds-texture-uri" type="string" use="optional"></attribute>
		<attribute name="clouds-scale-x" type="float" default="2"></attribute>
		<attribute name="clouds-scale-y" type="float" default="1"></attribute>
		<attribute name="clouds-speed-x" type="float" default="0.2"></attribute>
		<attribute name="clouds-speed-y" type="float" default="0.3"></attribute>
		<attribute name="cloudiness" type="float" default="0.279"></attribute>
		<attribute name="clouds-opacity" type="float" default="1"></attribute>
		<attribute name="clouds-sharpness" type="float" default="0.8"></attribute>
		<attribute name="clouds-shading-intensity" type="float" default="0.8"></attribute>
		<attribute name="clouds-zenith-falloff" type="float" default="0.339"></attribute>
		<attribute name="clouds-iterations" type="int" default="3"></attribute>
		<attribute name="clouds-gain" type="float" default="0.5"></attribute>
		<attribute name="clouds-lacunarity" type="int" default="2"></attribute>
		<attribute name="clouds-day-color" type="string" default="#d7dde7"></attribute>
		<attribute name="clouds-night-color" type="string" default="#7d616f"></attribute>
	</complexType>

	<annotation>
		<documentation>
			Type for an environment background. Types supported are panorama
			and color.

			A panorama background will be defined with a path to
			an image file containing the panorama to display.
			Examples:
			- filename.png
			- path/to/filename.png
			- /root/path/to/filename.png

			A color background will be defined as either an RGB, RGBA, color() value,
			or predefined text color and will be applied to the entire background.
			The color is treated as case-insensitive. Note: color() value of 1 is
			equivalent to "FF". A color() value greater than 1 increases intensity
			and gets into the HDR range of color.
			Examples:
			- #ff0011
			- #FF0011
			- #ff001122
			- #FF001122
			- color(1 1 1 1)
			- color(123, 111, 222, 0)
			- red
			- RED
			- rEd
		</documentation>
	</annotation>
	<complexType name="background">
		<choice>
			<element name="panorama" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="lite-procedural-sky" type="vem:liteproceduralsky" minOccurs="1" maxOccurs="1"></element>
		</choice>
	</complexType>

	<annotation>
		<documentation>
			Type for lite fog settings.

			Attributes:
			- enabled: Whether or not the lite fog is enabled.
			- color:   Color to apply to the fog.
			- density: Density to apply to the fog.
		</documentation>
	</annotation>
	<complexType name="lite-fog-settings">
		<attribute name="fog-enabled" type="boolean" default="false"></attribute>
		<attribute name="color" type="string" default="gray"></attribute>
		<attribute name="density" type="float" default="0.5"></attribute>
	</complexType>

	<annotation>
		<documentation>
			Type for effects settings.

			Elements:
			- lite-fog: Lite fog settings.
		</documentation>
	</annotation>
	<complexType name="effects-settings">
		<sequence>
			<element name="lite-fog" type="vem:lite-fog-settings" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<annotation>
		<documentation>
			An input event. Input events contain an input (a user input that
			will be listened for) and an event (code logic that will be
			invoked) that will be run when that input is invoked by the user.

			Parameters to a function should be represented using a single "?".

			Attributes:
			- input: Input to monitor
			- event: Code to invoke when input received

			Examples:
			- <inputevent input="move" event="MoveCharacter(?);"></inputevent>
			- <inputevent input="endmove" event="EndMoveCharacter();"></inputevent>
			- <inputevent input="look" event="LookCharacter(?);"></inputevent>
			- <inputevent input="endlook" event="EndLookCharacter();"></inputevent>
		</documentation>
	</annotation>
	<complexType name="inputevent">
		<attribute name="input" type="string"></attribute>
		<attribute name="event" type="string"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A set of control flags. These flags configure controls that are enabled/disabled.
		</documentation>
	</annotation>
	<complexType name="controlflags">
		<sequence>
			<element name="left-vr-pointer" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="right-vr-pointer" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="left-vr-poker" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="right-vr-poker" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="left-hand-interaction" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="right-hand-interaction" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="turn-locomotion" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="joystick-motion" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="left-grab-move" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="right-grab-move" type="boolean" minOccurs="0" maxOccurs="1"></element>
			<element name="two-handed-grab-move" type="boolean" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<annotation>
		<documentation>
			A synchronization service.
			Attributes:
			- type:    Type of synchronization service (i.e. vss)
			- address: Address of the synchronization service
			- id:      ID of session (UUID-encoded)
			- session: A name for the session
		</documentation>
	</annotation>
	<complexType name="synchronizationservice">
		<attribute name="type" type="string"></attribute>
		<attribute name="address" type="string"></attribute>
		<attribute name="id" type="string"></attribute>
		<attribute name="session" type="string"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 3 dimensional position containing x, y, and z values.
		</documentation>
	</annotation>
	<complexType name="position">
		<attribute name="x" type="double" default="0"></attribute>
		<attribute name="y" type="double" default="0"></attribute>
		<attribute name="z" type="double" default="0"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 3 dimensional rotation represented as a quaternion
			containing x, y, z, and w values.
		</documentation>
	</annotation>
	<complexType name="rotation">
		<attribute name="x" type="double" default="0"></attribute>
		<attribute name="y" type="double" default="0"></attribute>
		<attribute name="z" type="double" default="0"></attribute>
		<attribute name="w" type="double" default="1"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 3 dimensional scale containing x, y, and z values.
		</documentation>
	</annotation>
	<complexType name="scale">
		<attribute name="x" type="double" default="1"></attribute>
		<attribute name="y" type="double" default="1"></attribute>
		<attribute name="z" type="double" default="1"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 3 dimensional size value in meters containing
			x, y, and z values.
		</documentation>
	</annotation>
	<complexType name="size">
		<attribute name="x" type="double" default="1"></attribute>
		<attribute name="y" type="double" default="1"></attribute>
		<attribute name="z" type="double" default="1"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 2 dimensional position value for an element with its
			x and y values representing the ratio (between 0
			and 1) at which the element is positioned within its
			parent from the top-left corner to the bottom-right
			corner.
		</documentation>
	</annotation>
	<complexType name="position-percent">
		<attribute name="x" type="double" default="0"></attribute>
		<attribute name="y" type="double" default="0"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A 2 dimensional size value for an element with its
			x and y values representing the ratio (between 0
			and 1) at which the element is sized relative to its
			parent.
		</documentation>
	</annotation>
	<complexType name="size-percent">
		<attribute name="x" type="double" default="1"></attribute>
		<attribute name="y" type="double" default="1"></attribute>
	</complexType>

	<annotation>
		<documentation>
			A transform for an entity. Can be represented using:
			- position, rotation, and scale
			- position, rotation, and size
			- position-percent and size-percent
		</documentation>
	</annotation>
	<complexType name="basetransform">

	</complexType>

	<annotation>
		<documentation>
			A transform for an entity represented by a position, rotation, and scale
		</documentation>
	</annotation>
	<complexType name="scaletransform">
		<complexContent>
			<extension base="vem:basetransform">
				<sequence>
					<element name="position" type="vem:position" minOccurs="1" maxOccurs="1"></element>
					<element name="rotation" type="vem:rotation" minOccurs="1" maxOccurs="1"></element>
					<element name="scale" type="vem:scale" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A transform for an entity represented by a position, rotation, and size
		</documentation>
	</annotation>
	<complexType name="sizetransform">
		<complexContent>
			<extension base="vem:basetransform">
				<sequence>
					<element name="position" type="vem:position" minOccurs="1" maxOccurs="1"></element>
					<element name="rotation" type="vem:rotation" minOccurs="1" maxOccurs="1"></element>
					<element name="size" type="vem:size" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A transform for an entity placed on a canvas represented by a position-percent and size-percent
		</documentation>
	</annotation>
	<complexType name="canvastransform">
		<complexContent>
			<extension base="vem:basetransform">
				<sequence>
					<element name="position-percent" type="vem:position-percent" minOccurs="1" maxOccurs="1"></element>
					<element name="size-percent" type="vem:size-percent" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<annotation>
		<documentation>
			A placement socket for an entity.

			Elements:
			- position:          Position of the placement socket relative to the entity
			- rotation:          Rotation of the placement socket relative to the entity
			- connecting-offset: Offset to apply when connecting to another socket
		</documentation>
	</annotation>
	<complexType name="placementsocket">
		<sequence>
			<element name="position" type="vem:position" minOccurs="1" maxOccurs="1"></element>
			<element name="rotation" type="vem:rotation" minOccurs="1" maxOccurs="1"></element>
			<element name="connecting-offset" type="vem:position" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<annotation>
		<documentation>
			A base definition for an entity. Use of this base definition directly is
			prohibited; an extension type must be used.

			Contains a transform and list of 0 or more children of the entity.

			Elements:
			- transform:        transform of the entity
			- entity:           child entities to place within this entity
			- sychronizer:      synchronizer that will synchronize this entity
			- placement-socket: placement sockets to attach to this entity

			Attributes:
			- tag:           a tag to apply to the entity. This differs from an ID in that
			an entity is not guaranteed to be uniquely identifiable by its
			tag. Intended to be human readable.
			- id:            a UUID-encoded identifier for the entity. If one is not provided,
			the engine will define a new one.
			- on-load-event: an optional event (script logic) to invoke upon completing
			loading of the entity.
			- align-horizontal: horizontal alignment (center, left, right)
			- align-vertical:   vertical alignment (center, top, bottom)
			- stretch-to-parent: whether to stretch this entity to fit its parent
		</documentation>
	</annotation>
	<complexType name="entity">
		<sequence>
			<element name="transform" type="vem:basetransform" minOccurs="1" maxOccurs="1"></element>
			<element name="entity" type="vem:entity" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="synchronizer" type="string" minOccurs="0" maxOccurs="1"></element>
			<element name="placement-socket" type="vem:placementsocket" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="tag" type="string"></attribute>
		<attribute name="id" type="string" use="optional"></attribute>
		<attribute name="on-load-event" type="string" use="optional"></attribute>
		<attribute name="align-horizontal" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="center"/>
					<enumeration value="left"/>
					<enumeration value="right"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="align-vertical" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="center"/>
					<enumeration value="top"/>
					<enumeration value="bottom"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="stretch-to-parent" type="boolean" use="optional"></attribute>
	</complexType>

	<annotation>
		<documentation>
			An empty (container) entity. Inherits all elements and attributes from entity.
		</documentation>
	</annotation>
	<complexType name="container">
		<complexContent>
			<extension base="vem:entity">

			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			An audio entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- audio-file: Audio file from which to get the audio entity's audio.
			- auto-play:  Whether or not to auto-play the audio.
			- loop:       Whether or not to loop the audio.
			- priority:   Priority for the audio. Values between 0 and 256, with 0 being highest priority.
			- volume:     Volume for the audio. Values between 0 and 1, with 1 being highest volume.
			- pitch:      Pitch for the audio. Values between -3 and 3.
			- stereo-pan: Audio pan for the audio if playing in stereo. Values between -1 and 1, with -1
			being furthest to the left and 1 being furthest to the right.
		</documentation>
	</annotation>
	<complexType name="audio">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="audio-file" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="auto-play" type="boolean" default="true"></element>
					<element name="loop" type="boolean" default="true"></element>
					<element name="priority" type="int" default="0"></element>
					<element name="volume" type="float" default="1"></element>
					<element name="pitch" type="float" default="0"></element>
					<element name="stereo-pan" type="float" default="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- mesh-name:     Name of the top-level mesh.
			- mesh-resource: A list of files containing mesh resources to load for the mesh.
		</documentation>
	</annotation>
	<complexType name="mesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="mesh-name" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="mesh-resource" type="string" minOccurs="1" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A cube mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the cube mesh entity.
		</documentation>
	</annotation>
	<complexType name="cubemesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A sphere mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the sphere mesh entity.
		</documentation>
	</annotation>
	<complexType name="spheremesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A capsule mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the capsule mesh entity.
		</documentation>
	</annotation>
	<complexType name="capsulemesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A cylinder mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the cylinder mesh entity.
		</documentation>
	</annotation>
	<complexType name="cylindermesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A plane mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the plane mesh entity.
		</documentation>
	</annotation>
	<complexType name="planemesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A torus mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the torus mesh entity.
		</documentation>
	</annotation>
	<complexType name="torusmesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A cone mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the cone mesh entity.
		</documentation>
	</annotation>
	<complexType name="conemesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A rectangular pyramid mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the rectangular pyramid mesh entity.
		</documentation>
	</annotation>
	<complexType name="rectangularpyramidmesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A tetrahedron mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the tetrahedron mesh entity.
		</documentation>
	</annotation>
	<complexType name="tetrahedronmesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A prism mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the prism mesh entity.
		</documentation>
	</annotation>
	<complexType name="prismmesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A arch mesh entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the arch mesh entity.
		</documentation>
	</annotation>
	<complexType name="archmesh">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A character entity. Inherits all elements and attributes from entity.
			Elements:
			- mesh-name:     Name of the top-level mesh.
			- mesh-resource: A list of files containing mesh resources to load for the mesh.
			- mesh-offset:   Offset for the character's mesh.
			- mesh-rotation: Rotation for the character's mesh.
			- label-offset:  Offset for the character entity's label.
		</documentation>
	</annotation>
	<complexType name="character">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="mesh-name" type="string" minOccurs="0" maxOccurs="1"></element>
					<element name="mesh-resource" type="string" minOccurs="0" maxOccurs="unbounded"></element>
					<element name="mesh-offset" type="vem:position" minOccurs="0" maxOccurs="1"></element>
					<element name="mesh-rotation" type="vem:rotation" minOccurs="0" maxOccurs="1"></element>
					<element name="label-offset" type="vem:position" minOccurs="0" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A canvas entity. Inherits all elements and attributes from entity.
		</documentation>
	</annotation>
	<complexType name="canvas">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			An HTML entity. Inherits all elements and attributes from entity and includes:
			- url: URL to load in the HTML entity.
			- on-message: Logic to invoke when a message is received.
		</documentation>
	</annotation>
	<complexType name="html">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
				<attribute name="url" type="string" use="optional"></attribute>
				<attribute name="on-message" type="string" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A button entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the button entity.
			Attributes:
			- on-click-event: An event to invoke upon clicking of the button.

			Note: Must be placed within a Canvas Entity.
		</documentation>
	</annotation>
	<complexType name="button">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="0" maxOccurs="1"></element>
				</sequence>
				<attribute name="on-click-event" type="string" use="optional"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			An input entity. Inherits all elements and attributes from entity.

			Note: Must be placed within a Canvas Entity.
		</documentation>
	</annotation>
	<complexType name="input">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			An image entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- image-file: Image file from which to get the image entity's image.

			Note: Must be placed within a Canvas Entity.
		</documentation>
	</annotation>
	<complexType name="image">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="image-file" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A light entity. Inherits all elements and attributes from entity.

			Note: Scale is ignored.
		</documentation>
	</annotation>
	<complexType name="light">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A terrain entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- layer:       Layers to use on the terrain.
			- layer-masks: Comma-separated 2D arrays of layer mask values. Each array is separated by a '|'
			Example (for 3 layers on a 3x3 terrain):
			0,0.1,0.2;0.3,0.4,0.5;0.6;0.7;0.8|0.9,1,0;0.1,0.2,0.3;0.4,0.5,0.6
			|0.7,0.8,0.9;1,0,0.1;0.2,0.3,0.4

			Attributes:
			- length:  Length (in meters) of the terrain.
			- width:   Width (in meters) of the terrain.
			- height:  Height (in meters) of the terrain.
			- heights: A comma-separated 2D array of heights.
			Example (for a 4x4x4 terrain):
			0,1,2,3;3,2,1,0;1,2,0,3;2,1,3,0
			- type:    Type of terrain. Can be one of (heightmap, voxel, hybrid).
		</documentation>
	</annotation>
	<complexType name="terrain">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="layer" type="vem:terrainlayer" minOccurs="1" maxOccurs="unbounded"></element>
					<element name="layer-masks" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
				<attribute name="length" type="double" use="required"></attribute>
				<attribute name="width" type="double" use="required"></attribute>
				<attribute name="height" type="double" use="required"></attribute>
				<attribute name="heights" type="string" use="optional"></attribute>
				<attribute name="type" type="string" default="heightmap"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A layer for a terrain entity. Includes:
			Elements:
			- diffuse-texture: Diffuse texture.
			- normal-texture:  Normal texture.
			- mask-texture:    Mask texture.
			- specular:        Specularity.
			- metallic:        Metallic factor (must be between 0 and 1).
			- smoothness:      Smoothness factor (must be between 0 and 1).
		</documentation>
	</annotation>
	<complexType name="terrainlayer">
		<sequence>
			<element name="diffuse-texture" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="normal-texture" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="mask-texture" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="specular" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="metallic" type="float" minOccurs="1" maxOccurs="1"></element>
			<element name="smoothness" type="float" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<annotation>
		<documentation>
			A text entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- color: Color to give the text entity.
			Attributes:
			- text:      Text to place on the text entity.
			- font-size: Size to apply to the text entity's font.
			- fonts:     Font family to use for the text entity.
			- bold:      Whether the text should be bold.
			- italic:    Whether the text should be italic.
			- underline: Whether the text should be underlined.
			- strikethrough: Whether the text should have strikethrough.
			- text-align-horizontal: Horizontal text alignment (center, left, right).
			- text-align-vertical: Vertical text alignment (center, top, bottom).
			- text-wrap: Text wrapping behavior (no-wrap, wrap).

			Note: Must be placed within a Canvas Entity.
		</documentation>
	</annotation>
	<complexType name="text">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="color" type="string" minOccurs="0" maxOccurs="1"></element>
				</sequence>
				<attribute name="text" type="string" use="required"></attribute>
				<attribute name="font-size" type="float" use="required"></attribute>
				<attribute name="fonts" type="string" use="optional"></attribute>
				<attribute name="bold" type="boolean" use="optional"></attribute>
				<attribute name="italic" type="boolean" use="optional"></attribute>
				<attribute name="underline" type="boolean" use="optional"></attribute>
				<attribute name="strikethrough" type="boolean" use="optional"></attribute>
				<attribute name="text-align-horizontal" use="optional">
					<simpleType>
						<restriction base="string">
							<enumeration value="center"/>
							<enumeration value="left"/>
							<enumeration value="right"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="text-align-vertical" use="optional">
					<simpleType>
						<restriction base="string">
							<enumeration value="center"/>
							<enumeration value="top"/>
							<enumeration value="bottom"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="text-wrap" use="optional">
					<simpleType>
						<restriction base="string">
							<enumeration value="no-wrap"/>
							<enumeration value="wrap"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A voxel entity. Inherits all elements and attributes from entity.
		</documentation>
	</annotation>
	<complexType name="voxel">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			A water entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- shallow-color:    Color for the shallow zone.
			- deep-color:       Color for the deep zone.
			- specular-color:   Specular color.
			- scattering-color: Scattering color.
			- deep-start:       Start of the deep zone.
			- deep-end:         End of the deep zone.
			- distortion:       Distortion factor (must be between 0 and 128).
			- smoothness:       Smoothness factor (must be between 0 and 1).
			- num-waves:        Number of waves (must be between 1 and 32).
			- wave-amplitude:   Wave amplitude (must be between 0 and 1).
			- wave-steepness:   Wave steepness (must be between 0 and 1).
			- wave-speed:       Wave speed.
			- wave-length:      Wave length.
			- wave-scale:       Wave scale.
			- wave-intensity:   Wave intensity.
		</documentation>
	</annotation>
	<complexType name="water">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="shallow-color" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="deep-color" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="specular-color" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="scattering-color" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="deep-start" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="deep-end" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="distortion" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="smoothness" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="num-waves" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-amplitude" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-steepness" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-speed" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-length" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-scale" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="wave-intensity" type="float" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			An automobile entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- mesh-name:       Name of the automobile mesh.
			- mesh-resource:   Mesh resources.
			- wheels:          Wheels for the automobile.
			- mass:            Mass of the automobile.
			- automobile-type: Type of the automobile.
		</documentation>
	</annotation>
	<complexType name="automobile">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="mesh-name" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="mesh-resource" type="string" minOccurs="1" maxOccurs="unbounded"></element>
					<element name="wheels" type="vem:automobilewheel" minOccurs="0" maxOccurs="unbounded"></element>
					<element name="mass" type="float" minOccurs="1" maxOccurs="1"></element>
					<element name="automobile-type" type="string" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<annotation>
		<documentation>
			An automobile entity wheel.
			Elements:
			- wheel-submesh: Submesh for the wheel.
			- wheel-radius:  Radius of the wheel.
		</documentation>
	</annotation>
	<complexType name="automobilewheel">
		<sequence>
			<element name="wheel-submesh" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="wheel-radius" type="float" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>
	
	<annotation>
		<documentation>
			An airplane entity. Inherits all elements and attributes from entity and includes:
			Elements:
			- mesh-name:     Name of the airplane mesh.
			- mesh-resource: Mesh resources.
			- mass:          Mass of the airplane.
		</documentation>
	</annotation>
	<complexType name="airplane">
		<complexContent>
			<extension base="vem:entity">
				<sequence>
					<element name="mesh-name" type="string" minOccurs="1" maxOccurs="1"></element>
					<element name="mesh-resource" type="string" minOccurs="1" maxOccurs="unbounded"></element>
					<element name="mass" type="float" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<annotation>
		<documentation>
			A water entity. Inherits all elements and attributes from entity.
		</documentation>
	</annotation>
	<complexType name="waterblocker">
		<complexContent>
			<extension base="vem:entity">
				<sequence>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<annotation>
		<documentation>
			Top-level definition for a VEML document. Contains two sections/elements:
			- metadata:    Metadata for the world.
			- environment: Description of the world's environment.

			Metadata:
			- title:                  Title for the world.
			- capability:             Capability needed for the world.
			- script:                 Scripts to be run in the world.
			- inputevent:             Input events for the world.
			- controlflags:           Control flags for the world.
			- synchronizationservice: Synchronization services for the world.

			Environment:
			- background: Color/panorama to apply to the background.
			- effects:    Effects for the environment.
			- entity:     Entities to place in the environment.
		</documentation>
	</annotation>
	<element name="veml">
		<complexType>
			<sequence>
				<element name="metadata" minOccurs="1" maxOccurs="1">
					<complexType>
						<sequence>
							<element name="title" minOccurs="1" maxOccurs="1" type="string"></element>
							<element name="capability" minOccurs="0" maxOccurs="unbounded" type="string"></element>
							<element name="script" minOccurs="0" maxOccurs="unbounded" type="string"></element>
							<element name="inputevent" minOccurs="0" maxOccurs="unbounded" type="vem:inputevent"></element>
							<element name="controlflags" minOccurs="0" maxOccurs="1" type="vem:controlflags"></element>
							<element name="synchronizationservice" minOccurs="0" maxOccurs="unbounded" type="vem:synchronizationservice"></element>
						</sequence>
					</complexType>
				</element>
				<element name="environment" minOccurs="1" maxOccurs="1">
					<complexType>
						<sequence>
							<element name="background" type="vem:background" minOccurs="1" maxOccurs="1"></element>
							<element name="effects" type="vem:effects-settings" minOccurs="0" maxOccurs="1"></element>
							<element name="entity" type="vem:entity" minOccurs="0" maxOccurs="unbounded"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>